:root {
    --primary-color: #007bff; /* Default primary color */
    --secondary-color: #33ff34; /* Default secondary color */
}

.style-panel-section {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align horizontally */
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.style-panel-label {
    margin-right: 14px;
    font-weight: bold;
    color: var(--primary-color);
}

.style-panel-input,
.style-panel-select {
    flex: 1;
    padding: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: var(--secondary-color);
    font-size: 14px;
    color: var(--primary-color);
    transition: border-color 0.3s ease;
    width: 3px;
}

.style-panel-input:focus,
.style-panel-select:focus {
    border-color: var(--primary-color);
    outline: none;
}

/*
.style-panel-checkbox {
    width: 20px; 
    height: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    transition: border-color 0.3s ease;
    accent-color: var(--secondary-color);
}

.style-panel-checkbox:checked {
    background-color: var(--secondary-color); 
    border-color: var(--primary-color);
}
*/
/*
.style-panel-checkbox {
    width: 20px; 
    height: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    transition: border-color 0.3s ease;
}
*/

.style-panel-checkbox {
    width: 20px; 
    height: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    /*transition: border-color 0.3s ease;*/
    position: relative;
    cursor: pointer;
}
    
.style-panel-checkbox:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    background-color: var(--secondary-color);
    padding: 1px;
}
    
.style-panel-checkbox:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--primary-color);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}
    


/*
.style-panel-checkbox:focus {
    border-color: var(--primary-color);
    outline: none;
}
    */